body {
    background: #4f4f4f;
}

canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

#landing-title {
    position: absolute;
    width: 30%;
    height: 15%;
    left: 35%;
    top: 25%;
    text-align: center;
    font-size: 48px;
}

#username {
    position: absolute;
    width: 10%;
    height: 5%;
    right: 5%;
    top: 5%;
    text-align: center;
    font-size: 36px;
}

#username-input {
    position: absolute;
    width: 20%;
    height: 5%;
    left: 40%;
    top: 47.5%;
}

#play-button {
    position: absolute;
    width: 10%;
    height: 5%;
    left: 45%;
    top: 55%;
}

#invalid-msg {
    position: absolute;
    width: 10%;
    height: 5%;
    left: 45%;
    top: 60%;
}

#leaderboard {
    position: absolute;
}